@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.game{
    position: relative;
}

.gameviewport{
    position: absolute;
    top: 62px;
    left: 269px;
    z-index: 10;
}

#digactive{
    position: absolute;
    top: 167px;
    left: 146px;
    z-index: 10;
}

#digactive:not(.mode-selected){
    opacity: 0.00;
}

#digactive:active{
    transform: translateY(-1px);
}

#dirtactive{
    position: absolute;
    top: 215px;
    left: 136px;
    z-index: 10;
}

#dirtactive:not(.mode-selected){
    opacity: 0.00;
}

#dirtactive:active{
    transform: translateY(-1px);
}

#foodactive{
    position: absolute;
    top: 263px;
    left: 131px;
    z-index: 10;
}

#foodactive:not(.mode-selected){
    opacity: 0.00;
}

#foodactive:active{
    transform: translateY(-1px);
}

#leftarrow{
    position: absolute;
    top: 482px;
    left: 102px;
    z-index: 10;
}

#leftarrow:not(.mode-selected){
    opacity: 0.00;
}

#leftarrow:active{
    transform: translateY(-1px);
}

#rightarrow{
    position: absolute;
    top: 482px;
    left: 207px;
    z-index: 10;
}

#rightarrow:not(.mode-selected){
    opacity: 0.00;
}

#rightarrow:active{
    transform: translateY(-1px);
}

#uparrow{
    position: absolute;
    top: 438px;
    left: 146px;
    z-index: 10;
}

#uparrow:not(.mode-selected){
    opacity: 0.00;
}

#uparrow:active{
    transform: translateY(-1px);
}

#downarrow{
    position: absolute;
    top: 543px;
    left: 146px;
    z-index: 10;
}

#downarrow:not(.mode-selected){
    opacity: 0.00;
}

#downarrow:active{
    transform: translateY(-1px);
}

.start{
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 13;
    font-size: 72px;
    color: #2d1d1b;

}

.instructions{
    position: absolute;
    top: 45%;
    left: 44%;
    z-index: 13;
    font-size: 24px;
    color: #2d1d1b;
}


.mode-selected{
    opacity: 1.00;
}
